$font-head: 'Great Vibes', cursive ;
$font-normal: 'montserratlight',Arial, sans-serif;
$color-primary: #86baa3;
$color-detail: #666;
$color-gray: #fafafa;
$color-light: #ecf6e2;
$color-dark: #7c9479;
$color-hl: #faf5b7;

body {
	width:100%;
	font-family: $font-normal;
	font-size: 16px;
	line-height: 1.6em;
	background: $color-dark;
	color: $color-detail;
}
h1{
	color: $color-primary;
	font-size: 4.5em;
	font-family: $font-head;
	line-height: 1.6em;
}
h2{ font-size: 1.6em;
	color: $color-primary;
}
h3{ font-size:1.3em;}
h2,h3{line-height:1.5em;}
h4{ font-size:1.2em;}
header{
	width:100%;
	padding:5px;
	line-height: 1.8em;
	overflow: hidden;
	position: fixed;
	top:0;
	left:0;
	z-index: 4;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	a{
		display: inline-block;
		padding: 0 10px;
		text-transform: uppercase;
		font-size: 1.2em;
		color: $color-dark;
	}
	a:hover{
		color: $color-primary;
	}
}

/* main */
main{
	margin-top: 40px;
	overflow: hidden;
}
a{
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.container{
	width: 100%;
	padding: 0 30px;
	max-width: 1400px;
	overflow: hidden;
	margin: 0 auto;
}
.box-center{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}