$font-head: 'Great Vibes', cursive ;
$font-normal: 'montserratlight',Arial, sans-serif;
$color-primary: #86baa3;
$color-detail: #666;
$color-gray: #fafafa;
$color-light: #ecf6e2;
$color-mid: #9abe96;
$color-dark: #7c9479;
$color-hl: #faf5b7;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{text-decoration: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section{
	width: 100%;
	overflow: hidden;
}
body {
	width:100%;
	font-family: $font-normal;
	font-size: 16px;
	line-height: 1.6em;
	background: $color-dark;
	color: $color-detail;
	padding: 0;
	margin: 0;
}
h1{
	color: $color-primary;
	font-size: 4.5em;
	font-family: $font-head;
	line-height: 1.6em;
}
h2{ font-size: 1.6em;
	color: $color-primary;
}
h3{ font-size:1.3em;}
h2,h3{line-height:1.5em;}
h4{ font-size:1.2em;}
header{
	width: 100%;
	padding: 10px;
	line-height: 1.8em;
	font-family: $font-head;
	overflow: hidden;
	position: fixed;
	top:0;
	left:0;
	z-index: 4;
	background: #fff;
	text-align: center;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	a{
		display: block;
		padding: 0 10px;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 500;
		margin: 0 auto;
		border-radius: 50%;
		background: $color-primary;
		color: $color-light;
		width: 48px;
		height: 48px;
		line-height: 48px;
	}
	a:hover{
		color: #fff;
	}
}
footer{
	text-align: center;
	border-top: 1px solid $color-mid;
	padding: 10px 0;
	margin-top: 20px;
	color: $color-light;
}

/* main */
main{
	margin-top: 88px;
	overflow: hidden;
	padding: 0 20px;
}
a{
	text-decoration: none;
	transition: all 0.3s ease-out;
}
.container{
	width: 100%;
	padding: 0 30px;
	max-width: 1400px;
	overflow: hidden;
	margin: 0 auto;
	background: $color-light;
}
.box-center{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%,-50%);
}

@media screen and (max-width: 1300px) {
	h1{
		font-size: 3.5em;
	}
	h2{ 
		font-size: 1.4em;
	}
}
@media screen and (max-width: 1024px) {
	h1{
		font-size: 2.5em;
		line-height: 1.4em;
	}
	h2{ 
		font-size: 1.2em;
	}
}
@media screen and (max-width: 600px) {
	.container{
		padding: 0 20px;
	}	
	h1{
		font-size: 2em;
	}
}