$font-head: 'Great Vibes', cursive ;
$font-normal: 'montserratlight',Arial, sans-serif;
$color-primary: #86baa3;
$color-detail: #666;
$color-gray: #fafafa;
$color-light: #ecf6e2;
$color-mid: #9abe96;
$color-dark: #7c9479;
$color-hl: #faf5b7;
$color-error: #db4b4b;